<h2>マイページ</h2>

<%= render 'public/header' %>

<p>登録情報</p>
<%= link_to "編集する", customer_edit_path %>

<table>

  <tr><th>氏名</th></tr>
  <tr><td><%= @customer.last_name %><%= @customer.first_name %></td></tr>

  <tr><th>カナ</th></tr>
  <tr><td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td></tr>

  <tr><th>郵便番号</th></tr>
  <tr><td><%= @customer.postal_code %></td></tr>

  <tr><th>住所</th></tr>
  <tr><td><%= @customer.adress %></td></tr>

  <tr><th>電話番号</th></tr>
  <tr><td><%= @customer.telephone_number %></td></tr>

  <tr><th>メールアドレス</th></tr>
  <tr><td><%= @customer.email %></td></tr>

</table>

<h2>配送先</h2>
<%= link_to "一覧を見る", adress_index_path %>

<h2>注文履歴</h2>
<%= link_to "一覧を見る", order_index_path %>