<%= render 'public/header' %>


<div class="container">
  <div class="row">

    <p class="mx-auto mt-4 mb-4">
      ようこそながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </p>
  </div>
    <h2>新着商品</h2>
      <div class="d-flex flex-wrap">
        <% @product.each.with_index(1) do |product| %>
          <div class="contents__item">
            <%= link_to items_show_path(product.id) do %>
              <%= image_tag product.image, size:"250x180"  %></br>
            <% end %>
            <%= product.name %></br>
            ¥<%= product.price %>
          </div>
        <% end %>
      </div>
      <%= link_to "全ての商品を見る>", items_index_path, class: "float-right" %>
 </div>


