<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<table>

  <tr><th>会員ID</th></tr>
  <tr><td><%= @customer.id %></td></tr>

  <tr><th>氏名</th></tr>
  <tr><td><%= @customer.last_name %><%= @customer.first_name %></td></tr>

  <tr><th>フリガナ</th></tr>
  <tr><td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td></tr>

  <tr><th>郵便番号</th></tr>
  <tr><td><%= @customer.postal_code %></td></tr>

  <tr><th>住所</th></tr>
  <tr><td><%= @customer.adress %></td></tr>

  <tr><th>電話番号</th></tr>
  <tr><td><%= @customer.telephone_number %></td></tr>

  <tr><th>メールアドレス</th></tr>
  <tr><td><%= @customer.email %></td></tr>

  <tr><th>会員ステータス</th></tr>
  <tr><td></td></tr>

</table>

<%= link_to "編集する", admin_customers_edit_path %>

