<%= render 'public/header' %>

<h2>ショッピングカート</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_item.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.name %></td>
      <td><%= cart_item.product.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "買い物を続ける", items_index_path %>

<%= link_to "情報入力に進む", orders_new_path %>

