<%= render 'admin/header' %>


<div class="container">
  <h3 class="ml-5 mt-3 mb-5 bg-light pl-2 pr-2 pt-2">商品編集</h3>

  <%= form_with model: @product, url: update_product_path(@product.id), method: :patch do |f| %>
  <form class="form-horizontal">
    <div class="form-group field mb-2">
      <%= f.label :商品画像, class: "col-md-3 col-form-label" %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :商品名, class: "col-md-3 col-form-label" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :商品説明, class: "col-md-3 col-form-label" %>
      <%= f.text_area :introduction %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :ジャンル, class: "col-md-3 col-form-label" %>
  　   <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
  　</div>
  　<div class="form-group field mb-2">
      <%= f.label :税抜価格, class: "col-md-3 col-form-label" %>
  　   <%= f.text_field :price %>
  　</div>
  　<div class="form-group field mb-2">
      <%= f.label :販売ステータス, class: "col-md-3 col-form-label" %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "販売停止中" %>
    </div>

    <%= f.submit '変更を保存', class: "col-md-3 btn btn-success ml-4" %>
  </form>
  <% end %>

</div>