<%= render 'admin/header' %>


<div class="container">
  <h3 class="ml-5 mt-3 mb-5 bg-light pl-2 pr-2 pt-2 col-2">商品編集</h3>

  <%= form_with model: @product, url: update_product_path(@product.id), method: :patch do |f| %>
  <form class="form-horizontal">
    <div class="form-group field mb-2">
      <%= f.label :商品画像, class: "col-md-3" %>
      <%= f.file_field :image, accept: "image/*", class: "ml-3" %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :商品名, class: "col-md-3" %>
      <%= f.text_field :namee,class: "col-3 ml-3" %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :商品説明, class: "col-md-3" %>
      <%= f.text_area :introduction,class: "col-3 ml-3" %>
    </div>
    <div class="form-group field mb-2">
      <%= f.label :ジャンル, class: "col-md-3" %>
  　   <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください",class: "col-3" %>
  　</div>
  　<div class="form-group field mb-2">
      <%= f.label :税抜価格, class: "col-md-3" %>
  　   <%= f.text_field :price,class: "col-3" %>
  　   <%= f.label :円 %>
  　</div>
  　<div class="form-group field mb-2">
      <%= f.label :販売ステータス, class: "col-md-3" %>
      <%= f.radio_button :is_active, :true, class: "ml-3" %>
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, :false, class: "ml-3" %>
      <%= f.label :is_active, "販売停止中" %>
    </div>

    <%= f.submit '変更を保存', class: "col-md-2 btn btn-success offset-md-3" %>
  </form>
  <% end %>

</div>