<h2>商品一覧</h2>



<table>
  <head>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </head>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, products_show_path(product.id) %></td>
      <td><%= product.price %></td>
      <td><%= product.genre.name %></td>
      <td><%= product.is_active %></td>
    </tr>
    <% end %>
  </tbody>
</table>