<%= render 'public/header' %>


<div class="container">
  <h3 class="ml-5 mt-3 mb-5 bg-light pl-2 pr-2 pt-2 col-2">注文情報確認</h3>

  <div class="row">
    <table class="table table-bordered col-8">
    <thead>
      <tr>
        <th class="table-secondary">商品名</th>
        <th class="table-secondary">単価（税込）</th>
        <th class="table-secondary">数量</th>
        <th class="table-secondary">小計</th>
      </tr>
    </thead>
    <tbody>
    <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= cart_item.product.name %></td>
        <td><%= cart_item.product.with_tax_price.to_s(:delimited) %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal.to_s(:delimited) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table table-bordered col-3 offset-md-1">
    <tr>
      <th class="table-secondary">送料</th>
      <td>800円</td>
    </tr>
    <tr>
      <th class="table-secondary">商品合計</th>
      <td><%= @total.round.to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th class="table-secondary">請求金額</th>
      <td><%= @totals.round.to_s(:delimited) %>円</td>
    </tr>
  </table>

  </div>

  <div class="row mt-3">
  <strong class="mr-4">支払方法</strong>
    <%= @order.payment_method_i18n %>
  </div>

  <div class="row mt-3">
  <strong  class="mr-4">お届け先</strong>
    <%= @order.address_display %>
  </div>

  <%= form_with model: @order, url: order_creat_path do |f| %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :total_payment, value: @totals %>
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :shipping_cost, value: 800 %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.hidden_field :status, value: Order.statuses.key(0) %>
    <%= f.submit "注文を確定する", class: "btn btn-success offset-md-4 col-3 mt-3"  %>
  <% end %>

</div>