<header>
  <p>LOGO</p>
  <ul>
  <% if customer_signed_in? %>
　  <li><%= link_to "マイページ", customers_show_path %></li>
    <li><%= link_to "商品一覧", items_index_path %></li>
    <li><%= link_to "カート", cart_item_index_path %></li>
    <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "About", about_path %></li>
　  <li><%= link_to "商品一覧", items_index_path %></li>
　  <li><%= link_to "新規登録", new_customer_registration_path %></li>
　  <li><%= link_to "ログイン", new_customer_session_path %></li>
  <% end %>
  </ul>
</header>