<%= render 'public/header' %>


<div class="container">
<h3>商品一覧</h3>


  <% @product.each do |product| %>


  <%= link_to items_show_path(@product.ids) do %>
    <%= image_tag product.image %></br>
  <% end %>
  <%= product.name %><br>
  ¥<%= product.price %>
<% end %>

</div>



