<%= render 'public/header' %>

<h2>商品一覧</h2>


  <% @product.each do |product| %>


  <%= link_to items_show_path(@product.ids) do %>
    <%= image_tag product.image %>
  <% end %>
  <%= product.name %>
  <P>¥<%= product.price %></P>
<% end %>




